# BANDEC Scraper
BANDEC_URL=http://www.bandec.cu/VirtualBANDEC/
BANDEC_USERNAME=
BANDEC_PASSWORD=
BANDEC_PIN=
BANDEC_CARD_NUMBER=

# PostgreSQL
DATABASE_URL=postgresql://gettransfer:gettransfer123@localhost:5432/gettransfer

# API
API_PORT=3000

# Auth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=cambia-esto-en-produccion-usa-64-chars-random
FRONTEND_URL=https://transfer.merxbit.com
ROOT_EMAIL=
